<!DOCTYPE html>
<html lang="{{ .Language }}">

<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="../bamboo/dist/bamboo.min.css">
</head>

<body>
    <h1>{{ .Title }}</h1>

    <div>
        {{ .Description }}
    </div>

    {{ if .ToC }}
    <nav>
        <h2>Episodes</h2>
        <ul>
            {{ range .ToC }}
            <li>
                <a href="#{{ .GUID }}">{{ .Title }}</a>
            </li>
            {{ end }}
        </ul>
    </nav>
    {{ end }}

    {{ range .Items }}
    <h2 id="{{ .GUID }}">{{ .Title }}</h2>

    <table>
        {{ range .Metadata }}
        <tr>
            <th>{{ .Key }}</th>
            <td>{{ .Value }}</td>
        </tr>
        {{ end }}
    </table>

    <ul>
    {{ range .Enclosures }}
    <li>
        <a href="{{ .URL }}">{{ .URL }}</a>
    </li>
    {{ end }}
    </ul>

    <div>
        {{ .Description }}
    </div>

    {{ end }}

</body>

</html>